html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  padding: 0%px;
  margin: 0px;
}
.open{
  display: block;
  /* position: absolute!important; */
}
.close{
  display: none!important;
  /* background-color: red; */
}
.color{
  color:red;
  display: none;
}
input , textarea{
  caret-color: white;
  color: white;
  outline: none;
}
input::placeholder , textarea::placeholder{
   color: white;
   font-weight: bold;
}