html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  padding: 0%px;
  margin: 0px;
}
::-webkit-scrollbar{
  width: 5px;

}

input::placeholder{
   color:white;
}
textarea::placeholder{
  color:white;


}
input, textarea{
  caret-color:white;
  outline: none;
  
}